<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end" [@animacao-banner]="estadoBanner">
      <app-banner></app-banner>
    </div>


    <div class="col-sm-6 d-flex justify-content-start">
      <div *ngIf="cadastro; else formlogin" [@animacao-form]="estadoCadastro"  (@animacao-form.start)="inicioDaAnimacao()" (@animacao-form.done)="fimDaAnimacao()">
        <div>
          <app-cadastro (exibirPainel)="exibirPainel($event)"></app-cadastro>
        </div>
      </div>

      <ng-template #formlogin>
        <div [@animacao-form]="estadoCadastro"  (@animacao-form.start)="inicioDaAnimacao()" (@animacao-form.done)="fimDaAnimacao()">
          <app-login (exibirPainel)="exibirPainel($event)"></app-login>
        </div>
      </ng-template>
    </div>

  </div>
</div>
